body {
  margin: 0px;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 700;
  border: 0px;
}

#nav {
  height: 4rem;
  width: 100%;
  background-color: #d2ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#side-bar {
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
  background-color: aquamarine;
}

#profit-pic {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
}

#main-div {
  height: 100%;
  width: 100vw;
}

.innerdiv{
  height: 40rem;
  width: 100vw;
  margin: 3.5rem 0rem;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}
.main-container{
  height: 40rem;
  width: 30rem;
  margin: 0rem 1.5rem;
  border-radius: 2px;
}
#pending {
  background-color: rgba(255, 113, 113, 0.1);
}

#working {
  background-color: rgba(226, 255, 111, 0.1);
}

#completed {
  background-color: rgba(94, 255, 94, 0.1);
}

.pen{
  background-color: rgba(255, 0, 0, 0.35);
}
.work{
  background-color: rgba(206, 255, 0, 0.35);
}
.com{
  background-color: rgba(0,255, 0, 0.35);
}
.nameofblock {
  height: 4rem;
  width: 30rem;
  border-radius: 2px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nameofblock h3{
  margin: 0rem;
}
.container{
  height: 34rem;
  width: 30rem;
  margin: 1rem 0rem;
  display: flex;
  align-content: flex-start;
  flex-direction: column;
}


/* ------drabbables---------*/
.draggable{
  width: 25.5rem;
  height: 4rem;
  margin: 0.5rem 0.75rem;
  padding: 0rem 1.5rem;
  font-size: medium;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(237, 254, 255);
}
.draggable:hover .close{
  display: flex;
}
.draggable .close{
  position: absolute;
  cursor: pointer;
  display: none;
  right: 1rem;
  font-size: 2rem;
  color: rgb(172, 172, 172);
}
.draggable .close:hover{
  color: rgb(255, 100, 100);
}

/* -----new task button------*/
#new-task-button{
  height: 1.5rem;
  width: 5rem;
  position: absolute;
  right: 1rem;
  border: 0px;
  background-color: transparent;
  border-radius: 2px;
}

#new-task-button:hover{
  background-color: rgb(158, 255, 151);
}


/* -----modal----- */
.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 2px;
  z-index: 100;
  background-color: aliceblue;
  width: 30rem;
  height: auto;
  max-width: 40rem;
}


.modal.active{
  transform: translate(-50%,-50%) scale(1);
}
.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 3px 3px -3px black;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: 500;
}

.modal-header .close-buttom{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  height: auto;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}

#overlay{
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active{
  opacity: 1;
  pointer-events: all;
}
.modal-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.inputbuttons{
  height: 1.3rem;
  width: 3rem;
  margin: .5rem .5rem;
  border: 0px;
  border-radius: 2px;
}
.task-input{
  font-size: medium;
  padding: .5rem;
  font-size: 1rem;
  font-weight: 600;
  width: 25rem;
  height: 3rem;
}



